@media screen and (max-width:576px) {
  .nav-container {
    display: flex;
    flex-direction: column;

  }

  .nav-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-items-container a {
    margin-top: 20px;
  }

  .nav-items-container .follow-us {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-one,
  .section-two-container,
  .play-container,
  .section-five {
    display: flex;
    flex-direction: column;
  }

  .carrers-container,
  .icons,
  .word-game,
  .foot-logo-container,
  .footer-text-main,
  .footer-text,
  .footer-icons-main,
  .our-story,
  .footer-icons,
  .footer-term {
    display: flex;
    flex-direction: column;
  }

}